#wrapper {
    /*width: 1000px;*/
    max-width: 1000px;
    margin: 0 auto;
}
header {
    background: #F1F1F1;
}
section, aside {
    float: left;
    height: 100px;
}
section {
    /*width: 700px;*/
    width: 70%;
    background: #DEDEF4;
}
aside {
    /*width: 300px;*/	/* target / context * 100 = result */		/* 300 / 700 * 100 = 70% */
    width: 30%;
    background: #F9DEDE;
}       
@media print {
	body {
		font-size: 20px;
	}
	section {
		width: 100%;
	}
	aside {
		display: none;
	}
}
@media screen and (max-width: 1200px) {		/*screen smaller than 1200px*/
	section,
	aside {
		width: 100%;
		float: none;
	}
}

@media screen and (min-width: 480px) and (max-width: 960px) {
	body {
		background: blue;
	}
}